*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

[class^='row']{
    display: flex;
}

/*HEADER*/
header{           /*DEBUG*/
    background-color: aqua;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}



.row-cols-3 > .col{
    flex-basis: calc(100% /3);
    margin: 10px 0;
}

.debug [class^='col'] {
	border: 3px dashed black;
	padding: 5px;
    background-color: blueviolet;
}

/*Colonne header in container*/
.col.col-left{
    text-align: left;
}

.col.col-center{
    text-align: center;
}

.col.col-right{
    text-align: right;
}

.section-header{           /*DEBUG*/
    background-color: blue;
    min-height: 200px;
}

/*Piccolo container*/
.section-header{
    padding: 25px 0;
}

.small.container{
    max-width: 600px;
    text-align: center;
    padding: 25px 25px;
}

.debug .small.container{           /*DEBUG*/
    background-color: blueviolet;
    height: 200px;
    border: 2px dashed black;
}

/*CORPO PAGINA*/
main > section{
    padding: 40px 0;
}

.container.section .row{
    min-height: 300px;
}

.col.col-big{
    flex-basis: 60%;
}

.col.col-small{
    flex-basis: 40%;
}

main > section:nth-child(2n){
    background-color: lightslategray;
}

.container .row.row-reverse{
    flex-direction: row-reverse;
}

/*Sezione no flex*/
section .big.container{
    min-height: 500px;
    background-color: rgb(52, 121, 0);
    border: 2px dashed black;
}