*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

[class^='row']{
    display: flex;
}

/*HEADER*/
header{           /*DEBUG*/
    background-color: aqua;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}


.row-cols-3 > .col{
    flex-basis: calc(100% /3);
    margin: 10px 0;
    padding: 5px;
}

.debug [class^='col'] {          /*DEBUG*/
	border: 3px dashed black;
    background-color: blueviolet;
}

/*Colonne header in container*/
.col.col-left{
    text-align: left;
}

.col.col-center{
    text-align: center;
}

.col.col-right{
    text-align: right;
}

.section-header{           /*DEBUG*/
    background-color: blue;
    min-height: 200px;
}

/*Piccolo container*/
.section-header{
    padding: 25px 0;
}

.small.container{
    max-width: 600px;
    text-align: center;
    padding: 25px 25px;
}

.debug .small.container{           /*DEBUG*/
    background-color: blueviolet;
    height: 200px;
    border: 2px dashed black;
}

/*CORPO PAGINA*/
main > section{
    padding: 30px 0;
}

.container.section .row{          /*DEBUG*/
    min-height: 300px;
}

.col.col-big{
    flex-basis: 60%;
}

.col.col-small{
    flex-basis: 40%;
}

.debug .col.col-small{            /*DEBUG*/
    background-color: aqua;
}

main > section:nth-child(2n){
    background-color: rgb(203, 203, 203);
}

.container .row.row-reverse{
    flex-direction: row-reverse;
}

/*Sezione no flex*/
.debug section .big.container{        /*DEBUG*/
    min-height: 500px;
    background-color: blue;
    border: 2px dashed black;
}

/*FOOTER*/
footer{
    background-color: rgb(66, 64, 89);
}

footer > section:first-child{
    border-bottom: 2px solid gray;
    padding: 5px 0 25px 0;
}


.row-cols-5 .col.col-30{
    flex-basis: 30%;
}

.row-cols-5 :not(.col-30){
    background-color: aqua;
    flex-basis: calc(70% / 4);
}

.debug .row-cols-5{            /*DEBUG*/
    min-height: 300px;
}

footer section:last-child{
    padding-top: 25px;
}

.debug .container.nav{            /*DEBUG*/
    background-color: blue;
}

.container.nav{
    padding: 15px 0;
}

.container .row.row-between{
    justify-content: space-between;
}

.row-between > *{
    padding: 5px;
}